In [97]:
import matplotlib.pyplot as plt
import pandas as pd

import tensorflow as tf
from tensorflow.keras import layers, models

In [98]:
data = pd.read_csv('/content/추천모델 학습 데이터_1.csv')

In [99]:
# 데이터 복사
tmp = data.copy()

In [100]:
tmp.head()

   Index    1    2    3    4  ...  Unnamed: 23  von  Unnamed: 25  von.1  Unnamed: 27
0    1.0  4.0  2.0  2.0  3.0  ...     0.265149  0.0          NaN    0.0      여행하고 싶다
1    2.0  4.0  2.0  2.0  3.0  ...     0.261502  0.0          NaN    1.0  여행하고 싶지 않다.
2    3.0  4.0  2.0  2.0  3.0  ...     0.266429  0.0          NaN    NaN          NaN
3    4.0  4.0  2.0  2.0  3.0  ...     0.260837  0.0          NaN    NaN          NaN
4    5.0  4.0  2.0  2.0  3.0  ...     0.252196  0.0          NaN    NaN          NaN

[5 rows x 28 columns]

In [101]:
tmp=tmp.drop(columns=['Unnamed: 25', 'von.1','Unnamed: 27'])

In [102]:
# 데이터 전처리
feeling = tmp['feeling'].unique()
place = data['place'].unique()
von = data['von'].unique()

In [103]:
print(feeling)
print(place)
print(von)

['happy' 'angry' 'sad' 'neutral' nan]
[' 성산일출봉' ' 사려니숲길' ' 협재 해수욕장' ' 월정리 해변' ' 함덕 해수욕장' ' 산굼부리' ' 섭지코지'
 ' 한라산국립공원' ' 비자림' ' 천지연폭포' ' 용머리해안' ' 용두암' ' 마라도' ' 우도' ' 가파도' ' 제주돌문화공원'
 ' 삼성혈' ' 추사관' ' 제주목관아' ' 선운정사' ' 김영갑갤러리두모악' ' 이중섭거리' ' 관덕정' ' 너븐숭이4.3기념관'
 ' 제주민속촌' ' 항파두리항몽유적지' ' 성읍마을' ' 제주세계자연유산센터' ' 제주민속자연사박물관' ' 제주4.3평화공원'
 ' 아침미소목장' ' 제주레일바이크' ' 서귀포잠수함' ' 아날로그감귤밭' ' 피시픽리솜 요트투어' ' 제주레포츠랜드'
 ' 월정리 카약 체험' ' 제주김녕미로공원' ' 에코랜드' ' 테디베어박물관' ' 아쿠아플라넷' ' 수월봉 지질트레일'
 ' 오설록티뮤지엄' ' 제주유리의성' ' 제주더마파크' nan]
[ 0.  1. nan]

In [73]:
print(len(place))

46

In [104]:
print(tmp.isnull())

      Index      1      2      3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23    von
0     False  False  False  False  ...        False        False        False  False
1     False  False  False  False  ...        False        False        False  False
2     False  False  False  False  ...        False        False        False  False
3     False  False  False  False  ...        False        False        False  False
4     False  False  False  False  ...        False        False        False  False
...     ...    ...    ...    ...  ...          ...          ...          ...    ...
4136  False  False  False  False  ...        False        False        False  False
4137  False  False  False  False  ...        False        False        False  False
4138  False  False  False  False  ...        False        False        False  False
4139  False  False  False  False  ...        False        False        False  False
4140   True   True   True   True  ...         True         True         True   True

[4141 rows x 25 columns]

In [105]:
tmp=tmp.dropna()

In [116]:
print(tmp.isnull())

      Index      1      2      3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23    von
0     False  False  False  False  ...        False        False        False  False
1     False  False  False  False  ...        False        False        False  False
2     False  False  False  False  ...        False        False        False  False
3     False  False  False  False  ...        False        False        False  False
4     False  False  False  False  ...        False        False        False  False
...     ...    ...    ...    ...  ...          ...          ...          ...    ...
4135  False  False  False  False  ...        False        False        False  False
4136  False  False  False  False  ...        False        False        False  False
4137  False  False  False  False  ...        False        False        False  False
4138  False  False  False  False  ...        False        False        False  False
4139  False  False  False  False  ...        False        False        False  False

[4140 rows x 25 columns]

In [114]:
feeling = tmp['feeling'].unique()
place = data['place'].unique()
von = data['von'].unique()

In [115]:
print(feeling)
print(place)
print(von)

['happy' 'angry' 'sad' 'neutral']
[' 성산일출봉' ' 사려니숲길' ' 협재 해수욕장' ' 월정리 해변' ' 함덕 해수욕장' ' 산굼부리' ' 섭지코지'
 ' 한라산국립공원' ' 비자림' ' 천지연폭포' ' 용머리해안' ' 용두암' ' 마라도' ' 우도' ' 가파도' ' 제주돌문화공원'
 ' 삼성혈' ' 추사관' ' 제주목관아' ' 선운정사' ' 김영갑갤러리두모악' ' 이중섭거리' ' 관덕정' ' 너븐숭이4.3기념관'
 ' 제주민속촌' ' 항파두리항몽유적지' ' 성읍마을' ' 제주세계자연유산센터' ' 제주민속자연사박물관' ' 제주4.3평화공원'
 ' 아침미소목장' ' 제주레일바이크' ' 서귀포잠수함' ' 아날로그감귤밭' ' 피시픽리솜 요트투어' ' 제주레포츠랜드'
 ' 월정리 카약 체험' ' 제주김녕미로공원' ' 에코랜드' ' 테디베어박물관' ' 아쿠아플라넷' ' 수월봉 지질트레일'
 ' 오설록티뮤지엄' ' 제주유리의성' ' 제주더마파크' nan]
[ 0.  1. nan]

In [117]:
print(tmp.isnull())

      Index      1      2      3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23    von
0     False  False  False  False  ...        False        False        False  False
1     False  False  False  False  ...        False        False        False  False
2     False  False  False  False  ...        False        False        False  False
3     False  False  False  False  ...        False        False        False  False
4     False  False  False  False  ...        False        False        False  False
...     ...    ...    ...    ...  ...          ...          ...          ...    ...
4135  False  False  False  False  ...        False        False        False  False
4136  False  False  False  False  ...        False        False        False  False
4137  False  False  False  False  ...        False        False        False  False
4138  False  False  False  False  ...        False        False        False  False
4139  False  False  False  False  ...        False        False        False  False

[4140 rows x 25 columns]

In [119]:
feeling = tmp['feeling'].unique()
place = tmp['place'].unique()
von = tmp['von'].unique()
print(feeling)
print(place)
print(von)

['happy' 'angry' 'sad' 'neutral']
[' 성산일출봉' ' 사려니숲길' ' 협재 해수욕장' ' 월정리 해변' ' 함덕 해수욕장' ' 산굼부리' ' 섭지코지'
 ' 한라산국립공원' ' 비자림' ' 천지연폭포' ' 용머리해안' ' 용두암' ' 마라도' ' 우도' ' 가파도' ' 제주돌문화공원'
 ' 삼성혈' ' 추사관' ' 제주목관아' ' 선운정사' ' 김영갑갤러리두모악' ' 이중섭거리' ' 관덕정' ' 너븐숭이4.3기념관'
 ' 제주민속촌' ' 항파두리항몽유적지' ' 성읍마을' ' 제주세계자연유산센터' ' 제주민속자연사박물관' ' 제주4.3평화공원'
 ' 아침미소목장' ' 제주레일바이크' ' 서귀포잠수함' ' 아날로그감귤밭' ' 피시픽리솜 요트투어' ' 제주레포츠랜드'
 ' 월정리 카약 체험' ' 제주김녕미로공원' ' 에코랜드' ' 테디베어박물관' ' 아쿠아플라넷' ' 수월봉 지질트레일'
 ' 오설록티뮤지엄' ' 제주유리의성' ' 제주더마파크']
[0. 1.]

In [120]:
tmp.head()

   Index    1    2    3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23  von
0    1.0  4.0  2.0  2.0  ...     0.327038     0.407812     0.265149  0.0
1    2.0  4.0  2.0  2.0  ...     0.354847     0.383651     0.261502  0.0
2    3.0  4.0  2.0  2.0  ...     0.318122     0.415449     0.266429  0.0
3    4.0  4.0  2.0  2.0  ...     0.319874     0.419289     0.260837  0.0
4    5.0  4.0  2.0  2.0  ...     0.303036     0.444768     0.252196  0.0

[5 rows x 25 columns]

In [121]:
tmp=tmp.drop(columns=['place'])

In [178]:
tmp.head()

     1    2    3    4    5  ...   18  feeling  Unnamed: 21  Unnamed: 22  Unnamed: 23
0  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.327038     0.407812     0.265149
1  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.354847     0.383651     0.261502
2  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.318122     0.415449     0.266429
3  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.319874     0.419289     0.260837
4  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.303036     0.444768     0.252196

[5 rows x 22 columns]

In [179]:
from sklearn.preprocessing import OneHotEncoder
encoder_1=OneHotEncoder()
x_1=encoder_1.fit(tmp['feeling'])
tmp['feeling']=x_1

ValueError: ignored

In [124]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
x=encoder.fit_transform(tmp['feeling'])
tmp['feeling']=x

In [125]:
tmp.head()

   Index    1    2    3  ...  Unnamed: 21  Unnamed: 22  Unnamed: 23  von
0    1.0  4.0  2.0  2.0  ...     0.327038     0.407812     0.265149  0.0
1    2.0  4.0  2.0  2.0  ...     0.354847     0.383651     0.261502  0.0
2    3.0  4.0  2.0  2.0  ...     0.318122     0.415449     0.266429  0.0
3    4.0  4.0  2.0  2.0  ...     0.319874     0.419289     0.260837  0.0
4    5.0  4.0  2.0  2.0  ...     0.303036     0.444768     0.252196  0.0

[5 rows x 24 columns]

In [126]:
tmp=tmp.drop(columns=['Index'])

In [127]:
y_label=tmp['von']

In [128]:
tmp=tmp.drop(columns=['von'])

In [129]:
tmp.head()

     1    2    3    4    5  ...   18  feeling  Unnamed: 21  Unnamed: 22  Unnamed: 23
0  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.327038     0.407812     0.265149
1  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.354847     0.383651     0.261502
2  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.318122     0.415449     0.266429
3  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.319874     0.419289     0.260837
4  4.0  2.0  2.0  3.0  4.0  ...  4.0        1     0.303036     0.444768     0.252196

[5 rows x 22 columns]

In [137]:
from sklearn.preprocessing import RobustScaler
rs=RobustScaler()
tmp_rs=rs.fit_transform(tmp)

In [159]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tmp_rs, y_label, test_size=0.2, random_state=42)

In [154]:
print(X_train)

[[-1.         -0.5        -0.5        ...  1.13952347 -0.2724134
  -0.56426117]
 [ 2.          1.5         0.5        ... -1.31531117  1.25939045
  -0.44575047]
 [ 2.          1.5         0.5        ...  0.06346109 -0.14540847
   0.5320996 ]
 ...
 [ 1.          1.5         1.5        ... -0.64584145  0.82334958
  -0.44297974]
 [ 2.          1.5         0.5        ...  0.39449729 -0.00202586
  -0.1551753 ]
 [ 0.          1.          0.5        ... -1.72535103  1.68717372
  -0.75574897]]

In [155]:
X_train_db=pd.DataFrame(X_train)

In [171]:
model = models.Sequential()
model.add(layers.Dense(units=512, activation='relu', input_shape=(4140,22)))
model.add(layers.Dense(units=128, activation='relu'))
model.add(layers.Dense(units=32, activation='relu'))
model.add(layers.Dense(units=16, activation='relu'))
model.add(layers.Dense(units=8, activation='relu'))
model.add(layers.Dense(units=1, activation='sigmoid'))

In [172]:
model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

In [163]:
tmp_rs

array([[ 1.        ,  0.        ,  0.        , ...,  0.49440056,
        -0.54940272,  0.77043735],
       [ 1.        ,  0.        ,  0.        , ...,  2.59112805,
        -1.73200834,  0.42800218],
       [ 1.        ,  0.        ,  0.        , ..., -0.17789282,
        -0.17563088,  0.89062588],
       ...,
       [ 1.        ,  0.        , -0.5       , ...,  3.55792121,
        -2.56661589,  0.82508967],
       [ 1.        ,  0.        , -0.5       , ..., -0.06809657,
         0.21737313,  0.        ],
       [ 1.        ,  0.        , -0.5       , ..., -0.05562949,
        -0.1742423 ,  0.73570409]])

In [174]:
model.fit(x=tmp_rs, y=y_label, batch_size=512, epochs=30, validation_split=0.2)

Epoch 1/30
7/7 [==============================] - 0s 14ms/step - loss: 0.3855 - accuracy: 0.8134 - val_loss: 1.0365 - val_accuracy: 0.4940
Epoch 2/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3928 - accuracy: 0.8059 - val_loss: 1.2366 - val_accuracy: 0.4783
Epoch 3/30
7/7 [==============================] - 0s 8ms/step - loss: 0.3834 - accuracy: 0.8080 - val_loss: 1.7670 - val_accuracy: 0.4698
Epoch 4/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3883 - accuracy: 0.8131 - val_loss: 1.1191 - val_accuracy: 0.4758
Epoch 5/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3815 - accuracy: 0.8164 - val_loss: 1.8616 - val_accuracy: 0.4722
Epoch 6/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3999 - accuracy: 0.8007 - val_loss: 1.5059 - val_accuracy: 0.4457
Epoch 7/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3790 - accuracy: 0.8110 - val_loss: 1.3124 - val_accuracy: 0.5060
Epoch 8/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3830 - accuracy: 0.8134 - val_loss: 1.0061 - val_accuracy: 0.5145
Epoch 9/30
7/7 [==============================] - 0s 13ms/step - loss: 0.3814 - accuracy: 0.8119 - val_loss: 1.2191 - val_accuracy: 0.4722
Epoch 10/30
7/7 [==============================] - 0s 12ms/step - loss: 0.3800 - accuracy: 0.8182 - val_loss: 1.2923 - val_accuracy: 0.4771
Epoch 11/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3779 - accuracy: 0.8131 - val_loss: 1.3121 - val_accuracy: 0.4807
Epoch 12/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3885 - accuracy: 0.8113 - val_loss: 1.4482 - val_accuracy: 0.4758
Epoch 13/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3714 - accuracy: 0.8170 - val_loss: 1.3128 - val_accuracy: 0.4976
Epoch 14/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3809 - accuracy: 0.8134 - val_loss: 1.3641 - val_accuracy: 0.4746
Epoch 15/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3717 - accuracy: 0.8188 - val_loss: 1.2758 - val_accuracy: 0.4795
Epoch 16/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3699 - accuracy: 0.8207 - val_loss: 1.1802 - val_accuracy: 0.5072
Epoch 17/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3707 - accuracy: 0.8216 - val_loss: 1.2565 - val_accuracy: 0.4541
Epoch 18/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3818 - accuracy: 0.8122 - val_loss: 1.2776 - val_accuracy: 0.4783
Epoch 19/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3736 - accuracy: 0.8210 - val_loss: 1.3824 - val_accuracy: 0.4686
Epoch 20/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3682 - accuracy: 0.8243 - val_loss: 1.4170 - val_accuracy: 0.4795
Epoch 21/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3672 - accuracy: 0.8282 - val_loss: 1.2024 - val_accuracy: 0.4940
Epoch 22/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3706 - accuracy: 0.8194 - val_loss: 1.5866 - val_accuracy: 0.4795
Epoch 23/30
7/7 [==============================] - 0s 8ms/step - loss: 0.3633 - accuracy: 0.8240 - val_loss: 1.3981 - val_accuracy: 0.4783
Epoch 24/30
7/7 [==============================] - 0s 11ms/step - loss: 0.3634 - accuracy: 0.8243 - val_loss: 1.4748 - val_accuracy: 0.4928
Epoch 25/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3648 - accuracy: 0.8204 - val_loss: 1.6997 - val_accuracy: 0.4915
Epoch 26/30
7/7 [==============================] - 0s 8ms/step - loss: 0.3652 - accuracy: 0.8219 - val_loss: 1.4657 - val_accuracy: 0.4662
Epoch 27/30
7/7 [==============================] - 0s 9ms/step - loss: 0.3657 - accuracy: 0.8303 - val_loss: 1.6263 - val_accuracy: 0.4795
Epoch 28/30
7/7 [==============================] - 0s 8ms/step - loss: 0.3622 - accuracy: 0.8276 - val_loss: 1.4140 - val_accuracy: 0.4903
Epoch 29/30
7/7 [==============================] - 0s 8ms/step - loss: 0.3540 - accuracy: 0.8294 - val_loss: 1.5124 - val_accuracy: 0.4795
Epoch 30/30
7/7 [==============================] - 0s 10ms/step - loss: 0.3592 - accuracy: 0.8279 - val_loss: 1.5466 - val_accuracy: 0.4674

In [175]:
from keras.models import load_model

model.save('test_model_1.h5')

In [176]:
model.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_22 (Dense)             (None, 4140, 512)         11776
_________________________________________________________________
dense_23 (Dense)             (None, 4140, 128)         65664
_________________________________________________________________
dense_24 (Dense)             (None, 4140, 32)          4128
_________________________________________________________________
dense_25 (Dense)             (None, 4140, 16)          528
_________________________________________________________________
dense_26 (Dense)             (None, 4140, 8)           136
_________________________________________________________________
dense_27 (Dense)             (None, 4140, 1)           9
=================================================================
Total params: 82,241
Trainable params: 82,241
Non-trainable params: 0
_________________________________________________________________